<%- include('menu'); %>
<head>
    <style>
        #btnLocation {
            background-color: rgb(70, 63, 2);
            color: wheat;
            padding-left: 10px;
            padding-right: 10px;
            border: none;
            border-radius: 5px;
            margin-left: 125px;
            margin-bottom: 10px;
        }

    </style>
</head>
<body class="location-edit-body">

    <div class="location-edit-form-container">
        <h3>Edit/Update Location</h3>

        <form class="form-location-edit" onsubmit="event.preventDefault()" >
            <table class="form-location-edit-table">
                <tr>
                    <td><lable for ="location_name">Location Name</lable></td>
                    <td><input type="text" id="location_name" name="location_name" value = "<%= locations[0].location_name %>" required></td>
                </tr>
                <tr>
                    <td><label for="address1">Address Line 1</label></td>
                    <td><input type="text" id="address1" name="address1" value = "<%= locations[0].location_addr1 %>" ></td>
                </tr>
                <tr>
                    <td><label for="address2">Address Line 2</label></td>
                    <td><input type="text" id="address2" name="address2" value = "<%= locations[0].location_addr2 %>" ></td>
                </tr>
                <tr>
                    <td><label for="address3">Address Line 3</label></td>
                    <td><input type="text" id="address3" name="address3" value = "<%= locations[0].location_addr3 %>" ></td>
                </tr>
                <tr>
                    <td><label for="abbr">Abbreviation</label></td>
                    <td><input type="text" id="abbr" name="abbr" minlength="6" maxlength="6" value = "<%= locations[0].abbr %>" required></td>
                </tr>
                <tr>
                    <td><label for="lat">Latitude</label></td>
                    <td><input type="text" id="lat" name="lat" maxlength="10" value = "<%= locations[0].lat %>" required></td>
                </tr>
                <tr>
                    <td><label for="long">Longitude</label></td>
                    <td><input type="text" id="long" name="long" maxlength="10" value = "<%= locations[0].long %>" required> </td>
                </tr>

            </table>
            <button id="btnLocation" type="button" onclick="getLocation(event)">Get Current Location Co-Ordinates</button></a>
            <div class="btnGroup">
              <button class="btnSubmit" type="button" onClick="updateLocation(<%= locations[0].id %>)">Submit</button>
              <button class="btnReset" type="reset">Reset Data</button>
              <a href="/location"><button class="btnReturn" type="button">Return</button></a>
            </div>
        </form>
    </div>

    <script>
        function updateLocation(locationId) {
            // Collect form data
            const data = {
                            location_name: document.getElementById('location_name').value,
                            address1: document.getElementById('address1').value,
                            address2: document.getElementById('address2').value,
                            address3: document.getElementById('address3').value,
                            abbr: document.getElementById('abbr').value,
                            lat: document.getElementById('lat').value,
                            long: document.getElementById('long').value,
                            source: 'edit',
                        };

            // Send the data via fetch
            fetch(`/location-update?id=${locationId}`, {
                method: 'PUT',
                headers: {
                            'Content-Type': 'application/json',
                            },
                body: JSON.stringify(data),
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Failed to update location details');
                }
                return response.text();
            })
            .then(message => {
                console.log(message);
                // Redirect on success
                window.location.href = "/location";
            })
            .catch(error => console.error('Error updating location:', error));
        }    

        function getLocation(event) {
            event.preventDefault();
            if (navigator.geolocation) {
                // Get the current position
                navigator.geolocation.getCurrentPosition((position) => {
                        const latitude = position.coords.latitude;
                        const longitude = position.coords.longitude;
                        document.getElementById('lat').value = latitude;
                        document.getElementById('long').value = longitude;
                    },
                (error) => {
                    // Handle errors
                    switch (error.code) {
                        case error.PERMISSION_DENIED:
//                            midContainer.textContent = "User denied the request for Geolocation.";
                            break;
                        case error.POSITION_UNAVAILABLE:
//                            midContainer.textContent = "Location information is unavailable.";
                            break;
                        case error.TIMEOUT:
//                            midContainer.textContent = "The request to get user location timed out.";
                            break;
                        default:
//                            midContainer.textContent = "An unknown error occurred.";
                            break;
                    }
                    console.error('Error fetching location:', error);
                }
                );
            } else {
//            midContainer.textContent = "Geolocation is not supported by this browser.";
            }   
        }
    </script>

</body>

