<%- include('menu'); %>
<body class="users_body">
    <script>
        function homeClicked () {
        window.location.href="/navbar";
        }
        function usersAdd () {
            window.location.href="/users-add";
        }

        function srchTxtUsr() {
            const searchValue = document.getElementById('searchFldUsr').value.toLowerCase(); // Get the search input value
            const table = document.getElementById('users_table'); // Get the table
            const rows = table.getElementsByTagName('tr'); // Get all rows

            // Loop through all table rows (except the header)
            for (let i = 1; i < rows.length; i++) {
            const userName = rows[i].getElementsByTagName('td')[0]?.textContent.trim().toLowerCase() || ''; // Get location name

            // Check if the location name starts with the search value
            if (userName.startsWith(searchValue)) {
                rows[i].style.display = ''; // Show the row
            } else {
                rows[i].style.display = 'none'; // Hide the row
            }
        }   
        }

        function srchTxtLoc() {
            const searchValue = document.getElementById('searchFldLoc').value.toLowerCase(); // Get the search input value
            const table = document.getElementById('users_table'); // Get the table
            const rows = table.getElementsByTagName('tr'); // Get all rows

            // Loop through all table rows (except the header)
            for (let i = 1; i < rows.length; i++) {
            const userName = rows[i].getElementsByTagName('td')[1]?.textContent.trim().toLowerCase() || ''; // Get location name

            // Check if the location name starts with the search value
            if (userName.startsWith(searchValue)) {
                rows[i].style.display = ''; // Show the row
            } else {
                rows[i].style.display = 'none'; // Hide the row
            }
        }   
        }
        
    </script>

  <div class="users_form_container"> 
      <h3>U s e r s</h3>
      <hr width="100%" color="yellow" size="5">
      <div class="users-form-top">
        <div class="users-form-top-left">
            <input type="text" id="searchFldUsr" name="searchFldUsr" placeholder="Search for User" onkeyup="srchTxtUsr()" style="width: 310PX;">
            <input type="text" onkeyup="srchTxtLoc()" id="searchFldLoc" name="searchFldLoc" placeholder="Search for Location" style="width: 320PX;">
        </div>
        <div class="location-form-top-right">
            <button id="addBtn" class="btnAdd" onclick="usersAdd()"><i class="fa-solid fa-plus" style="background-color:rgb(94, 239, 94)"></i>&nbsp Add User</button>
            <button class="btnHome" onClick="homeClicked()"> <img src="images/icons8-home-50.png">&nbspHome </button>
        </div>  
    </div>
      <form class="users_form">
        <div class="users_table_wrapper">
            <table class="users_table" id="users_table">
                <thead>
                    <tr>
                        <th width="30%">User Name</th>
                        <th width="40%">Location</th>
                        <th width="15%">User Type</th>
                        <th width="15%">Actions</th>
                    </tr>
                </thead>
                <tr>
                <% users.forEach(user => { %> 
                    <tr data-key = <%= user.userid %> >
                        <td> <%= user.username %></td>
                        <td> <%= user.location_name %></td>
                        <td> <%= user.usertype %></td>
                        <td><button id="editBtn" class="btnEdit" >Edit</button>
                            <button id="deleteBtn" class="btnDelete" >Delete</button>
                        </td>
                </tr>
                <% }); %>

            </table>
        </div>
      </form>
  </div>
</body>

</html>

